* {
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #6366f1, #4f46e5);
  display: flex;
  justify-content: center;
  padding: 2rem;
}

/* CONTAINER */
main {
  width: 100%;
  max-width: 420px;
  background: white;
  padding: 1.4rem;
  border-radius: 22px;
}

/* FORM */
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input,
textarea,
button {
  padding: 0.8rem;
  border-radius: 14px;
  border: 1px solid #d1d5db;
}

button {
  background: #4f46e5;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

/* SELECT CUSTOMIZADO */
.custom-select {
  position: relative;
}

.select-selected {
  padding: 0.8rem;
  border-radius: 14px;
  font-weight: 600;
  cursor: pointer;
  border: 2px solid transparent;
}

/* DROPDOWN */
.select-options {
  position: absolute;
  top: 110%;
  left: 0;
  right: 0;
  background: white;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: none;
  z-index: 10;
}

.select-options div {
  padding: 0.8rem;
  cursor: pointer;
  font-weight: 600;
}

.select-options div:hover {
  opacity: 0.9;
}

/* STATUS CORES */
.pendente {
  background: #fee2e2;
  border-color: #dc2626;
  color: #7f1d1d;
}

.andamento {
  background: #fef3c7;
  border-color: #f59e0b;
  color: #78350f;
}

.concluida {
  background: #dcfce7;
  border-color: #16a34a;
  color: #14532d;
}

/* TASK CARD */
.tasks {
  margin-top: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.task {
  padding: 1rem;
  border-radius: 18px;
}